<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Shifts</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <nav>
        <div class="container" style="margin-top: 40px">
            <!-- Navigation Panel -->
            <ul>
                <li style="color: black;"><a href="/onBoard">Home</a></li>
                <li><a href="/shifts">Shifts</a></li>
                <li><a href="/completedShifts">History</a></li>
                <li><a href="/register">About Us</a></li>
                <li><a href="/register">Feedback</a></li>
                <li><a href="/login">Log-Out</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <h1>Completed Shifts</h1>
    {% for completed_shift in completed_shifts %}
    <div class="card">
        <p>Company Name: {{ completed_shift['comp_name'] }}</p>
        <p>Shift Date: {{ completed_shift['shift_date'] }}</p>
        <p>Shift Type: {{ completed_shift['shift_type'] }}</p>
        <p>Booking Date: {{ completed_shift['booking_date'] }}</p>
        <!-- Add other details you want to display in the card -->
        <a href="{{ url_for('bookedShiftDetails', booking_id=completed_shift['booking_id']) }}">View Details</a>
    </div>
    {% endfor %}
</body>
</html>