<!-- RahulRaj Vardhanapu --8813996 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register User</title>
    <!-- InBuild CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
                <!-- Register Form -->
                <form method="POST">
                  <div class="container">
                    <a href="/userTab">
                        <img class="backButton" alt="" src="/static/images/back.png" width="100" height="80">
                    </a> 
                    </div> 
                  <div class="col-sm-12 text-center">
                    <!-- Logo -->
                    <a href="/">
                        <img class="headerLogocred" alt="" src="/static/images/OnBoardLogo.jpg" width="100" height="80">
                    </a> 
                </div>
                    <div class="form-group">
                      <label for="firstname">First Name : </label>
                      <input type="text" name="firstname" class="form-control" id="firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name : </label>
                        <input type="text" name="lastname" class="form-control" id="lastname">
                      </div>
                    <div class="form-group">
                      <label for="email">Email : </label>
                      <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="password">Password : </label>
                      <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="phoneNo">Phone No : </label>
                        <input type="text" name="phoneNo" class="form-control" id="phoneNo">
                      </div>
                      <div class="form-group">
                        <label for="location">Location : </label>
                        <input type="text" name="location" class="form-control" id="location">
                      </div>
                      <div class="form-group">
                        <label for="skills">Skills : </label>
                        <input type="text" name="skills" class="form-control" id="skills">
                      </div>
                      <div class="form-group">
                        <label for="workPermit">WorkPermit : </label>
                        <input type="text" name="workPermit" class="form-control" id="workPermit">
                      </div>
                      <div class="form-group">
                        <label for="sin">SIN : </label>
                        <input type="text" name="sin" class="form-control" id="sin">
                      </div>
                      <div class="form-group">
                        <label for="availability">Availability : </label>
                        <input type="text" name="availability" class="form-control" id="availability">
                      </div>
                      <div class="form-group">
                        <label for="regDate">Registration Date : </label>
                        <input type="date" name="regDate" class="form-control" id="regDate">
                      </div>
                    <div class="form-group">
                        <!-- <p>User Type</p> <br>
                        <label>
                            <input type="radio" name="option_radio" value="jobseeker"> jobseeker
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="option_radio" value="company"> company
                        </label>
                      </div> -->
                    <button type="submit" class="registerbutton">Register</button>
                </form>
    </div>

</body>
</html>