<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% include 'nav.html' %}
</head>
<body style="background-image: url('/static/images/bg3.jpg')">
    <h1 style="text-align: left; font-size: larger;">OnBoard</h1>
<p>Our project is an</p>

<h3 style="text-align: left;">How we came up with this idea?</h3>
<p>
    Nowadays, 
</p>


<h1 style="text-align: left; font-size: larger;">OBJECTIVES</h1>
<p>
   

</p>
</body>
</html>