<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Shifts</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% include 'nav.html' %}
</head>
<body>
    <h1 style="text-align: center;">Completed Shifts</h1>
    <section class="grid1 grid2">
    {% for completed_shift in completed_shifts %}
    <div class="cards1">
        <div class="card-body">
        <h1>Shift Type: {{ completed_shift['shift_type'] }}</h1>
        <h2>Company Name: {{ completed_shift['comp_name'] }}</h2>
        <h2>Shift Date: {{ completed_shift['shift_date'] }}</p>
        <h2>Booking Date: {{ completed_shift['booking_date'] }}</h2>
        <!-- Add other details you want to display in the card -->
        <a href="{{ url_for('bookedShiftDetails', booking_id=completed_shift['booking_id']) }}  " style="display: block; font-weight: bold ; font-size: large; color: floralwhite; text-align: center; margin-top: 10px;">View Details</a>
    </div>
</div>
    {% endfor %}
</section>
</body>
</html>