<nav>
    <div class="containerMain" style="margin-top: 10px">
        <a href="/company">
            <img class="headerLogo" alt="" src="static/images/OnBoardLogo.png" width="100" height="80">
        </a>   
     
        <ul>
            <li>
                <a href="/postedshifts">POSTED SHIFTS</a>
            </li>
            <li>
                <a href="/pendingpayments">PENDING PAYMENTS</a>
            </li>
            <li>
                <a href="/logout">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
