<nav>
    <div class="containerMain" style="margin-top: 10px">
        <a href="/">
            <img class="headerLogo" alt="" src="/static/images/OnBoardLogo.jpg" width="100" height="80">
        </a>   
     
        <ul>
            <li>
                <a href="/companyTab">COMPANY</a>
            </li>
            <li>
                <a href="/userTab">USERS/WORKERS</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
        </ul>
    </div>
</nav>
