<nav>
    <div class="containerMain" style="margin-top: 10px">
        <a href="/onBoard">
            <img class="headerLogo" alt="" src="/static/images/OnBoardLogo.png" width="100" height="80">
        </a>   
        <ul>
            <li><a href="/onBoard">HOME</a></li>
            <li><a href="/shifts">SHIFTS</a></li>
            <li><a href="/completedShifts">HISTORY</a></li>
            <li><a href="/feedback">FEEDBACK</a></li>
            <li><a href="/login">LOG-OUT</a></li>
        </ul>
    </div>
</nav>
