<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnBoard</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <nav>
        <div class="container" style="margin-top: 40px">
             <!-- Navigation Panel -->
                    <ul>
                        <li style="color: black;"><a href="/onBorad">Home</a></li>
                        <li><a href="/shifts">Shifts</a></li>
                        <li><a href="/register">History</a></li>
                        <li><a href="/register">About Us</a></li>
                        <li><a href="/register">Feedback</a></li>
                        <li><a href="/login">Log-Out</a></li>
                    </ul>
        </div>
    </nav>
</head>
<body>
    <h1>Welcome to Home page</h1>
</body>
</html>