<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Shifts</title>
        <link rel="stylesheet" href="/static/css/main.css">
        {% include 'companyNav.html' %}
    </head>
<body style="background-image: url('/static/images/bg3.jpg')">

    <div class="container" style="margin: 20px auto; width: 75%;"></div>
    <h1 style="text-align: center;">Pending Payments</h1>
        <table class="shift-table">
            <tr>
                <th>Date</th>
                <th>Shift Type</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Department Name</th>
                <th>Supervisor Name</th>
                <th>Pay Rate</th>
                <th>Payment Status</th>
            </tr>
            {% for pending_shift in pending_shifts %}
            <tr>
                <td>{{ pending_shift['shift_date'] }}</td>
                <td>{{ pending_shift['shift_type'] }}</td>
                <td>{{ pending_shift['start_time'] }}</td>
                <td>{{ pending_shift['end_time'] }}</td>
                <td>{{ pending_shift['department_name'] }}</td>
                <td>{{ pending_shift['supervisor_name'] }}</td>
                <td>{{ pending_shift['pay_rate'] }}</td>
                <td>{{ pending_shift['statusName'] }}</td>
                
                <!-- <td class="edit-shift-btn"><a href="/update_payment_status/{{ pending_shift['shift_id'] }}">Pay</a></td> -->
                <td class="edit-shift-btn">
                    {% if pending_shift['statusName'] == 'Paid' %}
                        <button class="edit-shift-btn" disabled>Pay</button>
                    {% else %}
                        <a href="/update_payment_status/{{ pending_shift['shift_id'] }}">Pay</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {%endwith%}
    </div>
</body>
</html>
